<!DOCTYPE html>
<html lang="en" autocomplete='off'>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>MyServices- Acessos</title>

  <link id="layout-css" rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/layout/css/layout-joomla-v4.css">
</head>
<body>
<div id="app">
</div>
</body>
</html>

