/* Custom toast location */
.datatable-custom-small {
  font-size: 0.8rem !important;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: 0 0 0 0.2rem #FFFFFF !important;
}
.p-toast.p-toast-top-right {
  top: 70px !important;;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon{
  margin-top: 7px !important;
}

.p-dialog .p-dialog-content {
  padding: 3px 1.5rem !important;
}

html {
  font-size: 15px !important;
}
@media screen and (max-width: 40em) {
  .p-toast {
    width: 20rem !important;
  }
  .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-size: 11px !important;;
  }

  .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    font-size: 11px !important;;
  }
}

@media screen and (min-width: 40em) {
  .p-toast {
    width: 25rem !important;
  }

  .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-size: 13px !important;;
  }

  .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    font-size: 13px !important;;
  }

}


@media screen and (max-width: 40em) {
  .p-datatable-responsive .p-datatable-thead > tr > th,
  .p-datatable-responsive .p-datatable-tfoot > tr > td {
    display: none !important;
  }

  .p-datatable-responsive .p-datatable-tbody > tr > td {
    text-align: left;
    display: block;
    border: 0 none !important;
    width: 100% !important;
    float: left;
    clear: left;
  }

  .p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
    padding: .4em;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4em;
    font-weight: bold;
  }

}


@media (max-width: 640px) {
  .p-datatable-wrapper {
    border: 1px solid #c8c8c8 !important;
  }
}
.p-disabled, .p-component:disabled {
  opacity: 0.3 !important;
}

body .p-invalid .p-autocomplete-input {
  border-color: #f44336 !important;
}

body .p-invalid .p-inputnumber-input {
  border-color: #f44336 !important;
}

.p-invalid {
  border-color: #f44336 !important;
}

body .p-datepicker .p-datepicker-header .p-datepicker-title select {
  padding: 3px !important;
  border: 1px solid #ced4da !important;
  border-radius: 3px !important;
}

.p-inputnumber-button-group .p-button.p-button-icon-only {
  width: 2em !important;
}

.p-inputnumber-button .pi {
  font-size: 0.88em !important;
}

.p-inputnumber-button .p-button-icon {
  margin-left: 0px !important;
}

.layout-wrapper .layout-menu li a.router-link-active, .layout-wrapper .layout-menu li button.router-link-active {
  font-weight: 700 !important;
}

.p-picklist-source-controls {
  display: none !important;
}

.p-picklist-target-controls {
  display: none !important;
}

body .p-picklist .p-picklist-buttons button {
  font-size: 12px !important;
}

label[required]::after {
  content: " *";
  color: #f44336;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 1.8rem !important;
  height: 1.8rem !important;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  height: 1.8rem !important;
  margin: .143rem !important;
}

.p-paginator {
  padding: 0.1rem 1rem !important;
}


.login-panel {
  padding: 0;
  height: 400px !important;
  .login-panel-content {
    padding: 0;
    width: 450px !important;
  }
}